i{
    font-style: normal;
}

.el-table .el-table__header tr th{
    background-color: #e0f4fd;
}
.table-border{
    border: 1px solid $color-border-1;
    border-bottom: none;
    box-sizing: border-box;
    overflow: hidden;
}
.el-table--medium th, .el-table--medium td{
    padding: 20px 0;
}
.el-table{
    color: $color-text-main;
}

.el-message-box__title{
    font-size: 16px;
    font-weight: bold;
    .el-message-box__status{
        vertical-align: middle;
    }
}
.el-tooltip__popper{
    max-width: 100%;
    margin-left: 20px;
    box-sizing: border-box;
}
.warning-btn{
    color: $color-danger;
}
.warning-btn.el-button--text:hover, .warning-btn.el-button--text:focus{
    color: #f78989;
}
.el-breadcrumb__item:first-child .el-breadcrumb__inner{
    color: $color-text-main;
    font-weight: bold;
}
.el-breadcrumb:before{
    float: left;
    width: 4px;
    background: $color-primary;
    height: 14px;
    margin-right: 10px;
    content: "";
}
.content-list-wrap{
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #dee8ef;
    border-radius: 5px;
}
.table-wrap{
    overflow: hidden;
    margin-bottom: 5px;
}
.custom-message-confirm{
    &.el-message-box--center{
        width: 500px;
        padding-bottom: 10px;
    }
    .el-message-box__title{
        display: block !important;
        margin-top: -15px;
        font-size: 16px;
        font-weight: normal;
    }
    .el-message-box__header{
        padding-top: 15px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #e8e9eb;
    }
    .el-message-box__status{
        color: #F56C6C;
        font-size: 16px !important;
    }
    .el-message-box__btns{
        text-align: center;
        border-top: 1px solid #e8e9eb;
        padding-top: 10px;
    }
    .el-message-box__content{
        padding: 40px 20px 40px;
        color: #333;
    }
    .el-message-box__btns button:nth-child(2){
        margin-left: 30px;
    }
}
// 整体框架结构
.layout-group {
    height: 100%;
    width: 100%;
    min-width: 900px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    background-color: #f4f4f4;
    .header-rt-lay{
        font-size: 16px;
    }
    .menu-aside-wrap{
        width: 280px;
        height: 100%;
        overflow: auto;
        position: relative;
        background-color: #fff;
        z-index: 1;
        .logo-wrap{
            text-align: center;
            height: 72px;
            line-height: 72px;
            background-color: #23389e;
            img{
                width: 160px;
                margin-top: 10px;
            }

        }
        .el-menu{
            border-right: none;
            background-color: transparent;
        }
        .menu-side {
            @extend %full;
            border-right: 1px solid #f0f0f0;
            top: 40px;
            .el-submenu{
                .el-menu-item{
                    color: #333;
                }
            }
            .el-menu-item{
                height: 36px;
                line-height: 36px;
            }
            .el-submenu__title{
                height: 44px;
                line-height: 44px;
                color: #333;
            }
            .el-menu-item.is-active{
                background-color: #00375f;
                font-weight: bold;
                color: #fff;
            }
            .el-submenu__title i{
                width: 16px;
                height: 16px;
                text-align: center;
            }
            .el-submenu__title span{
                font-weight: bold;
            }
            .menu-prex-ico{
                margin-right: 10px;
            }
           /*  .el-menu-item:hover, .el-menu-item:focus,.el-submenu__title:hover{
                background-color: rgba(255,255,255,0.1);
            } */
        }
    }
    .layout-header{
        background-image: url(../assets/imgs/header.png);
        background-position: left center;
        .logo-wrap{
            height: 78px;
            display: block;
            margin-top: 3px;
            background-repeat: no-repeat;
        }
        height: 78px;
        padding: 0 30px 0 0;
        position: relative;
        z-index: 3;
        // border-bottom:1px solid $color-border-3;
        color: #fff;
        background-color: #4396ca;

        .user-set{
            cursor: pointer;
            color: #fff;
            .user-img{
                height: 36px;
                width: 36px;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
    .container-main-right{
        overflow: hidden;
        position: relative;
        z-index: 5;
        .main-tab{
            overflow: hidden;
            box-shadow: 0 0 8px 0 #aaa;
            .el-tabs--card > .el-tabs__header .el-tabs__nav{
                border-top: none;
                border-radius: 0;
            }
            background-color: #fff;
            .el-tabs__header{
                margin-bottom: 0;
                border-bottom-color: #fff;
            }
            .el-tabs__item{
                height: 50px;
                line-height: 50px;
            }
            .el-tabs__item.is-active{
                color: #333333;
                background-color: #f1f1f1;
                border-bottom-color:#f1f1f1;
            }
        }
    }
    .container-main-body{
        position: relative;
        overflow: hidden;
        margin: 10px;
        .init-content-lay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            box-sizing: border-box;
            &.nopad{
                padding: 0;
            }
            .toolbar-lay{
                padding: 10px 10px 0;
                background-color: #fff;
                margin-bottom: 10px;
                border: 1px solid #dee8ef;
                border-radius: 5px;
                .el-select{
                    width: 202px !important;
                }
                .el-form-item{
                    margin-bottom: 10px;
                }
            }
            .main-index-f{
                margin: 30px;
                border: 1px solid $color-border-1;
                .ship-title-wrap{
                    border-bottom: 1px solid $color-border-1;
                    padding: 0 20px;
                }
                .chart-wrap{
                    height: 320px;
                    padding: 0;
                }
                .chart-radio-wrap{
                    text-align: right;
                    padding: 20px 30px 0;
                }
                .f-left{
                    padding: 10px 0;
                    li{
                        a{
                            padding: 10px 30px 10px 40px;
                            position: relative;
                            &:before{
                                position: absolute;
                                content: '';
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                background-color: $color-border-2;
                                left: 25px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            span{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .main-right-content{
                width: 380px;
                border-left: 1px solid $color-border-1;
            }
            .main-index-right{
                padding: 30px 20px;
                .el-progress-bar__outer{
                    border-radius: 0;

                }
                .el-progress-bar__inner{
                    border-radius: 0;
                }
                .ship-s{
                    background-color: $color-bg;
                    padding: 20px;
                }
                .links-wrap{
                    a{
                        text-align: center;
                        display: block;
                        line-height: 40px;
                        border: 1px solid $color-border-2;
                        margin-bottom: 20px;
                    }
                }
            }
            .cols-wrap{
                border: 1px solid $color-border-1;
                overflow: hidden;
                .left-tree{
                    width: 300px;
                    overflow: hidden;
                    position: relative;
                    box-sizing: border-box;
                    border-right: 1px solid $color-border-1;
                    .left-tree-top{
                        padding:30px 20px 10px;
                        position: absolute;
                        width: 100%;
                        box-sizing: border-box;
                        top: 0;
                        left: 0;
                        z-index: 5;
                    }
                    .el-tree-lay{
                        padding: 10px;
                        padding-top: 76px;
                        .el-tree-node__content {
                            height: 40px;
                            .node-btn{
                                display: none;
                            }
                            &:hover .node-btn{
                                display: inline-block;
                            }
                        }

                        .custom-tree-node{
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 14px;
                            padding-right: 8px;

                        }
                    }
                }
                .cols-rt-lay{
                    padding: 30px;
                    overflow: hidden;

                }

            }
            
        }
    }
    .divider-line{
        float: left;
        width: 4px;
        background: $color-primary;
        height: 14px;
        margin-right: 10px;
    }

}
.scrollbar-wrap{
    height: 100%;
    .el-scrollbar__wrap{
        overflow-x: hidden;
    }
}

.m-color{
    color: $color-primary;
}
.i-color{
    color: $color-info;
}
.s-color{
    color: $color-text-sub;
}
.g-color{
    color: $color-success !important;
}
.p-color{
    color: $color-warning !important;
}
.d-color{
    color: $color-danger !important;
}
.el-table .true_tag .el-table__cell{
    vertical-align: top;
}
.el-table .false_tag .cell{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.el-table .true_tag{
    background-color: #f0f0f0;
}

.el-table .true_tag .cell{
    -webkit-line-clamp: none;
}
.posibot-ba{
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
    border-top:1px solid #f0f0f0;
    height:50px;
    width:100%;
    font-size:12px;
    color:#999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-top: 5px;
    box-sizing: border-box;
}
.custom-dialog{
    .el-dialog__body{
        padding: 20px 30px;
    }
    .el-dialog__header{
        padding: 15px 15px 10px;
        font-size: 16px;
    }
    .el-dialog__footer{
        text-align: center;
        padding-bottom: 10px;
        border-top: 1px solid #e8e9eb;
    }
    .el-dialog{
        border-radius: 5px;
    }
}
.el-table .cell{
    text-align: center;
}
.table-dialog{
    box-shadow: 0 3px 5px #eee;
}
.point{
    cursor: pointer;
}
.mms-content-title{
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.mms-content-mode{
    border: 1px solid $color-border-1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    height: 400px;
    overflow: auto;
    img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}
.tab-align-col{
    padding: 0 !important;
    position: relative;
    border-bottom-color: #e0e0e0 !important;
    .cell{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 !important;
        .tab-align-wid{
            height: 100%;
            width: 10px;
            background-color: #e0e0e0;
            div{
                background-color: #2872b6;
                color: #fff;
                height: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}
.content-page-view{
    background-color: #fff;
}
.form-item-trans{
    float: right;
}
.view-form-wrap{
    padding: 20px 40px;
    
    &>.el-form-item>.el-form-item__content{
        padding-bottom: 22px;
        border-bottom: 1px solid #e8e9eb;
    }
}
.edit-title{
    padding: 15px;
    span{
        color: #2872b6;
        border: 2px solid #2872b6;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 5px;
    }
}
.img_wrap{
    width: 100%;
    min-height: 300px;
    border-radius: 5px;
    img{
        width: 100%;
    }
}
.el-table__footer td.el-table__cell div{
    color: #f78989;
}
.view-bot-op{
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #e8e9eb;
    .el-button{
        margin: 0 20px;
    }
}
.view-box-cont{
    overflow: auto;
    .el-input{
        width: 400px;
    }
}
.view-box-cont1{
    overflow: auto;
}
.wid300{
    width: 400px;
}
.form-dt{
    border: 1px solid #e8e9eb;
    .form-dl{
        &:last-child{
            border-bottom: none;
        }
        border-bottom: 1px solid #e8e9eb;
        display: flex;
        &>.form-dd{
            padding: 12px 30px;
            line-height: 32px;
            width: 400px;
        }
        .form-val{
            padding: 12px 30px;
            line-height: 32px;
            border-left: 1px solid #e8e9eb;
            flex: 1 1 auto;
            &.child{
                padding: 0;
                .form-dl:last-child{
                    border-bottom: none;
                }
            }
            &>.form-dd{
                padding: 12px 30px;
                line-height: 32px;
                width: 200px;
                
            }
        }
    }
}
.pic-uploader{
    border: 1px dashed #b3c2d0;
    background-color: #f6f6f6;
    text-align: center;
    padding: 30px 0;
    border-radius: 5px;
}
.content-chart-wrap{
    .el-row{
        height: 100%;
    }
    .el-col{
        height: 100%;
    }
    .chart-left{
        background-color: #fff;
        height: 100%;
        border-radius: 3px;
        overflow: hidden;
        .title{
            display: block;
            line-height: 32px;
            color: #fff;
            span{
                display: inline-block;
                padding: 0 20px;
                background: linear-gradient(120deg, #339dd3, #31afd9);
                text-align: center;
            }
        }
    }
    
}
.set-box{
    overflow: auto;
    padding: 20px;
}
.set_wrap{
    border: 1px solid #d4d6db;
    li{
        display: flex;
        border-bottom: 1px solid #d4d6db;
        &:last-child{
            border-bottom: none;
        }
        .label{
            width: 340px;
            flex: 0 0 auto;
            padding: 20px 0 20px 66px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .res_list{
            flex: 1 1 auto;
            border-left: 1px solid #d4d6db;
        }
        .res_col{
            display: flex;
            border-bottom: 1px solid #d4d6db;
            padding: 20px 0 20px 80px;
            &:last-child{
                border-bottom: none;
            }
            .res_col_label{
                width: 220px;
                flex: 0 0 auto;
                font-size: 14px;
            }
            .el-checkbox__label{
                display: none;
            }
        }
    }
}
.radio_wrap{
    .el-radio-button--medium .el-radio-button__inner{
        display: block;
    }
}
.all-color-ico{
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    color: #666;
    background-color: #E4E7ED;
    height: 50px;
    display: flex !important;
    align-items: center;
}
.el-tabs__nav-next, .el-tabs__nav-prev{
    line-height: 50px;
}
.area-select{
    .el-select-dropdown__wrap{
        max-height: 400px;
    }
}
.el-table--fit{
    border-right: 1px solid #f0f0f0 !important;
}
.tip_form_item{
    .el-form-item__content{
        line-height: 16px !important;
        font-size: 12px;
    }
}
.view-form-mrr{
    margin: 30px 72px;
    border: 1px solid #b8d1e1;
    & > .el-form-item{
        margin-bottom: 0;
        border-top: 1px solid #b8d1e1;
        &:first-child{
            border-top: none;
        }
        & > .el-form-item__label{
            padding-left: 40px;
            padding-top: 22px;
            padding-bottom: 22px;
            background-color: #f5f9fc;
            color: #2b2b2b;
        }
        & > .el-form-item__content{
            padding-top: 22px;
            padding-left: 25px;
            padding-right: 25px;
            border-left: 1px solid #b8d1e1;
            
        }
        .el-form-item__error{
            margin-top: -22px;
            margin-left: 25px;
        }
        .init_form_content{
            .el-form-item__content{
                padding-bottom: 22px;
            }
        }
    }
}
.view-box-mrr{
    .el-input{
        width: 320px;
    }
}
.edit-title-mrr{
    border-bottom: 1px solid #b8d1e1;
    line-height: 44px;
    position: relative;
    font-size: 16px;
    span{
        padding: 0 15px;
        border-bottom: 2px solid #2872b6;
        display: inline-block;
        color: #2872b6;
    }
}
.no-label-wrap{
    .el-form-item__content{
        border-left: none !important;
        padding-bottom: 15px;
        padding-top: 15px !important;
        text-align: center;
    }
}
.lo-vd-bt{
    color: #fff !important;
    &:hover{
        text-decoration: underline;
    }
}
.param_texts{
    b{
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.el-dialog .el-form-item__label{
    text-align: right !important;
}