// 主色
$color-primary: #2872b6 !default;

// 辅助色
$color-info: #949ebf;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

// 文字
$color-text-main: #2b2b2b;
$color-text-normal: #606266;
$color-text-sub: #878787;
$color-text-placehoder: #C0C4CC;

// 边框
$color-border-1: #f0f0f0;
$color-border-2: #dedede;
$color-border-3: #f9f9f9;
$color-border-4: #bababa;

// 背景
$color-bg: #f7f7f7;